<% include ./partials/header %>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="gatorswap/public/main.css" rel="stylesheet">-->

<div class="container">
  <div class="row">
    <h1 style="text-align: center"> Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form name='registration' onsubmit="return checkform(this)" method="post" action='/register'>
        <p id="password_error" style="color:red;"></p>
        <p id="email_error" style="color:red"></p>
        <div class="row">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email Address *" tabindex="1">
          </div>
          <div class="form-group">
            <input type="password" maxlength="40" name="password" id="password" class="form-control" placeholder="Password *" tabindex="2">
          </div>
          <div class="form-group">
            <input type="password" maxlength="40" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirm Password *" tabindex="3">
          </div>
          <div class="form-group">
            <input type="text" maxlength="40" name="username" id="displayName" class="form-control" placeholder="Display Name *" tabindex="4"
          </div>
        <!--</div>-->
        <!--<div>-->
        <div class="form-group">
        <center><div class="capbox">
          <div id="CaptchaDiv" align="center"></div>
          <div class="capbox-inner">
            Type the above number:
            <input type="hidden" id="txtCaptcha">
            <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
          </div>
        </div></center>
        </div>
      <!--</div>-->
        <div class="agreement">
          <div id="checkbox">
            <div class="row">
              <span class="button-checkbox">
                <label class="checkbox col-sm-offset-1"><input type="checkbox" class="btn btn-primary" data-dismiss="modal">I Agree to the
                                                              <a href="/views/terms.html" >Terms and Conditions</a></label>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
            <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
              <div class="form-group">
                <div class="col-sm-4">
                  <button class="btn btn-block" type="button" onclick="ClearFields();">Clear</button>
                </div>
                <div class="col-sm-offset-4 col-sm-4">
                  <input type="submit" value="Register" class="btn btn-block">
                </div>
              </div>
                    </div>
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <div class="col-sm-3">
                  <input type="submit" value="Register" class="btn">
                </div>
              </div>
            </div>-->
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
function ClearFields() {
     document.getElementById("email").value = "";
     document.getElementById("password").value = "";
     document.getElementById("password_confirmation").value = "";
     document.getElementById("displayName").value = "";
}
//function to validate the form
function checkform(theform)
{
  var why = "";
  if(theform.CaptchaInput.value == ""){
    why += "- Please Enter CAPTCHA Code.\n";
  }
  if(theform.CaptchaInput.value != ""){
    if(ValidCaptcha(theform.CaptchaInput.value) == false){
      why += "- The CAPTCHA Code Does Not Match.\n";
    }
  }
  if(why != ""){
    alert(why);
    return false;
  }
    var email = document.getElementById('email').value
         if(email.length>40)
         {
           document.getElementById('email_error').innerHTML = 'Email should be less than 40 characters'
           return false
         }
  var password = document.forms['registration']['password'].value
  var password2 = document.forms['registration']['password_confirmation'].value
      var pattern = /[^a-z]/i
      var isAlphaNumeric = false
      for(var i=0; i < password.length; i++) {
               if(!isNaN(parseInt(password[i]))) isAlphaNumeric = true
          }
      if(password !== password2 || !isAlphaNumeric)
        {
           document.getElementById('password_error').innerHTML = 'Passwords should match and should be Alpha Numeric'
           return false
         }
         else if (password.length >40)
         {
             document.getElementById('password_error').innerHTML = 'Password should be less than 40 characters'
             return false
         }
}
//captch renewal
var a = Math.ceil(Math.random() * 9)+ '';
var b = Math.ceil(Math.random() * 9)+ '';
var c = Math.ceil(Math.random() * 9)+ '';
var d = Math.ceil(Math.random() * 9)+ '';
var e = Math.ceil(Math.random() * 9)+ '';
var code = a + b + c + d + e;
document.getElementById("txtCaptcha").value = code;
document.getElementById("CaptchaDiv").innerHTML = code;
// Validate input against the generated number
function ValidCaptcha(){
  var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
  var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
  if (str1 == str2){
    return true;
  }else{
    return false;
  }
}
// Remove the spaces from the entered and generated code
function removeSpaces(string){
  return string.split(' ').join('');
}
</script>



<% include ./partials/footer %>
